/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #613583;
  --ifm-color-primary-dark: #522774;
  --ifm-color-primary-darker: #441a66;
  --ifm-color-primary-darkest: #441a66;
  --ifm-color-primary-light: #6f4291;
  --ifm-color-primary-lighter: #754898;
  --ifm-color-primary-lightest: #d6a2fa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #613583;
  --ifm-color-primary-dark: #522774;
  --ifm-color-primary-darker: #441a66;
  --ifm-color-primary-darkest: #441a66;
  --ifm-color-primary-light: #6f4291;
  --ifm-color-primary-lighter: #754898;
  --ifm-color-primary-lightest: #8455a7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
