.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIconCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.featureIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-color-primary-lightest);
  border-radius: 20%;
  width: 70px;
  height: 70px;
}

.featureDescriptions {
  text-align: left;
}